@tailwind base;
@tailwind components;
@tailwind utilities;

.loginInput{
  @apply block outline-none bg-transparent border border-white rounded-xl px-3 py-0.5 my-1.5 text-center
}

.btnClass {
  @apply text-white bg-green-500 border-white border px-3 rounded-xl my-1.5 hover:border-green-300 hover:bg-transparent hover:text-green-300 
}

.dangerButton{
  @apply text-white bg-red-700 border-white border px-3 rounded-xl my-1.5 hover:border-red-300 hover:bg-transparent hover:text-red-300 
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
